<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="../styles/Signup.css">
  <!-- Title -->
  <title>Sign Up</title>
</head>
<body>
    <header class="header">
        <a href="../main.html">
            <img class="header__img" src="../assets/logo-platzi-video-BW2.png" alt="Platzi Video">
        </a>
    </header>
    <section class="signup">
        <section class="signup__container">
            <h2>Sign up</h2>
            <form class="signup__container--form">
                <input class="input" placeholder="Full Name" type="name">
                <input class="input" placeholder="Email" type="email">
                <input class="input" placeholder="Password" type="password">
                <button class="button"><a href="../components/login.html">Sign up</a></button>
            </form>
            <p class="signup__container--login">Do you already have an Account? <a href="../components/login.html">Log in</a></p>
        </section>
    </section>
    <footer class="footer">
        <a href="../components/error404.html">Use Terms</a>
        <a href="../components/error404.html">Privacity declaration</a>
        <a href="../components/error404.html">Help center</a>
    </footer>
</body>
</html>