body {
    margin: 0;
    font-family: 'Muli', sans-serif;
  }
.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
.header__img {
    margin-left: 30px;
    width: 200px;
  }
.signup {
    background: linear-gradient(#21c08b, #Ab88ff);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup__container{
    background-color: rgba(255,255,255,0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.signup__container--form{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
    color: white;
}
::placeholder{
    color: white;
}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}
.signup__container--login > a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.signup__container--login > a:hover{
    text-decoration: underline;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    background: #ab88ff;
}
.footer a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding-right: 20px;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;   
    background:rgba(255,255,255,.4);
    border-radius: 4px;
}
::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 002px1pxrgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
    background: #999;
}
@media only screen and (max-width: 600px) {
    .signup__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}